<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="warningEmailTo" value="michaelkmoore@onet.pl,michaelkmoore@onet.pl"/>    
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target 
        name="file" 
        xsi:type="File" 
        layout="${longdate} ${logger} ${message}" 
        fileName="${basedir}/monitor.txt" 
        keepFileOpen="false" 
        archiveFileName="${basedir}/archive/log.{####}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <!-- trzeba wejsc tutaj: https://www.google.com/settings/security/lesssecureapps i włączyć tę opcję.-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" >
        <network 
            host="smtp.gmail.com" 
            port="587" 
            enableSsl="true" 
            userName="twoj@email.gmail" 
            password="hasło" 
          />
      </smtp>
    </mailSettings>
  </system.net>
  
  </configuration>
